/****** CORE STYLE ********/
    body{
        background-color: #ffff;
        font-family: sans-serif;
        font-size: 14px;
        color: #555555;
        border-color: #555555;
    }
div{
    height: auto;
}

#mainTable{
    width: 100%;
    height: 1000px;
}
#mainTable .mainTD{
    width: 50%;
    border: 1px dashed;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    padding: 20px;
    max-height:1900px;
}

.digiLogo{
    margin-top: 12px;
    font-size: 35px;
    font-weight: bold;
}
.printableLabel {
    margin-top: 10px;
    margin-bottom: 10px;
}
.printableLabel img{
    max-width: 300px;
    margin-bottom: 5px;
}
#printableTable{
    border: 1px solid #0000;
    width: 100%;
}
#printableTable th{
    background-color: #EDEDED;
    text-align: center;
    padding: 2px;
    border: 1px solid #555555;
}
#printableTable td{
    text-align: center;
    padding: 2px;
    border: 1px solid #555555;
}
.totalAmountTable td{
  font-weight: 600;
    padding: 5px;
    background-color: #EDEDED;
}
.btn{
    background-color: #FFA000;

}