/****** CORE STYLE ********/
    body{
        background-color: #fdfdfd;
        font-family: 'Roboto';
    }
    body a{
        color: #227093;
    }
    body button{
        border: 0px;
    }
    #content h3{
        font-size: 2.0em;
        color: #b71c1c;
    }
    #topHeader{
        background-color: #C62828;
        color: #ffff;
        padding: 20px;
    }
    #logo{
        height: 30px;
        padding-right: 20px;
    }
    #navGuide{
        text-align: right;
    }
    #content{
        margin-top: 10px;
        margin-bottom: 60px;
        padding: 20px;
    }
.red{
    color: #C62828;
}
.loginHome{
    background-color: #ffff;
    color: #191919;
    margin-bottom: 50px;
    
}
.loginHome h3,a{
    color: #191919;
}
.storelabel{
    font-size: 1.3em;   
}
.material-icons a{
    color: #fff;
}

    .spacer{
        height: 20px;
        width: 100%;
    }
    .leftText{
        max-width: 500px;
    }
#talinoContent{
    margin-bottom: -50px
}
.hometalinologo{
    width: 80%;
    max-width: 120px;
    margin-bottom: 20px;
}
.footer{
    margin: 0px;
    margin-top: 3em;
    background-color: #141C1F;
    text-align: center;
    padding: 2em;
    font-size: 0.9em;
    color: #ffff;
}
.footer .socialfooter img{
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.footer .footerlogo{
    width: 80%;
    max-width: 200px;
}
.footer .terms{
    margin-top: 30px;
    margin-bottom: 10px;
}
.footer .terms a{
    color: #FFA000;
    padding: 10px;
}

/****** STORE VIEW ********/
    .category{
        margin-top: 3em;
    }
    .categoryHead{
        color: #ffff;
        padding: 0.7em;
        max-width: 14em;
        font-weight: 600;
        font-size: 1.3em;
        border-top-left-radius: 8px;
        border-top-right-radius: 30px;
    }
        .categoryIcon img{
            height: 1.5em;
        }
    .categoryList{
        background-color: #ffff;
        padding: 1.2em;
        margin: 0px;
        border-radius: 12px;
        border-top-left-radius: 0px;
    }
        .categoryList .brand{
            font-size: 0.7em;
            font-style: italic;
            color: dimgray;
        }
        .categoryList table{
            font-size: 1.1em;
            width: 100%;
        }
        .categoryList table td{
            padding-bottom: 0.8em;
        }
            .col1{
                width: 20%;
                float: left;
            }
            .col2{
                padding-top: 6px;
                width: 25%;
                float: left;
                font-size: 0.8em;
            }
            .col3{
                width: 35%;
                padding-top: 6px;
                font-size: 0.8em;
                float: left;
            }
            .col4{
                width: 20%;
                float: left;
            }

            .cb{ /*category list button container */
                width: 50%;
                text-align: center;
                font-size: 0.9em;
                padding-left: 4px;
            }   
            .cb .counter{
                background-color: #A7A7A7;
                border-radius: 5px;
                padding: 4px;
                max-width: 3.3em;
                color: #ffff;
                cursor: pointer;
            }
            .cb .counter:active{
                background-color: #393148;
            }
    #checkout{
        padding-top: 2em;
        text-align: right;
    }
        .deliverynote{
            font-size: 0.9em;
            color: #656565;
        }
        .subtotal{
            padding-top: 10px;
            font-size: 1.6em;
            font-weight: bold;
            color: #393148;
        }
    .checkoutBtn{
        margin-top: 5px;
        background-color: #FFA000;
        color: #ffff;
        font-size: 1.3em;
        padding: 10px;
        padding-top: 13px;
        padding-top: 13px;
        min-width: 10em;
        border-radius: 3px;
    }
    .checkoutBtn .material-icons{
        font-size: .9em;
    }


/****** INFORMATION FORM ********/
    .formseparator{
        margin-top: 1.5em;
        margin-bottom: -20px;
        font-size: 1.2em;
        color: #8c8c8c;
    }
        .formLabel{
            background-color: #cfd5e3;
            padding: 5px;
            padding-left: 15px;
            padding-bottom: 10px;
            margin-top: 1.5em;
            margin-bottom: -5px;
            width: 13em;
            border-top-left-radius: 7px;
            border-top-right-radius: 17px;
        }
    .selectOption{
        margin-top: 1.6em;
        overflow: auto;
    }
    .selectOptionItem{
        font-size: 0.95em;
        background-color: #e0e0e0;
        text-align: center;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
        margin-right: 1em;
        margin-top: 5px;
        float: left;
        border: 2px solid #cfd5e3;
        cursor: pointer;
    }
    .selectOptionItem:hover{
        border: 2px solid #ff8f00;
    }
    .selectselected{
        border: 2px solid #ff8f00;
    }
    .selectdisabled{
        background-color: #eeeeee;
        border: 2px solid #cfd5e3;
        color: #b9b9b9;
    }
    .selectminioption{
        font-size: 0.7em;
    }
    .AgreementStatement{
        padding-top: 10px;
        color: #1a1a1a;
        font-size: 0.9em;
    }
    .otpbox{
        margin-top: 20px;
        max-width: 450px;
        font-size: 0.9em;
        background-color: #cfd5e3;
        padding: 20px;
        border-radius: 10px;
        color: #303030;
    }
        #otpmobile{
            font-weight: bold;
        }
        .otpbox input{
            margin-top: 10px;
        }
        .otpbox #resendotp{
            color: #525252;
            padding-left: 2px;
            font-size: 0.9em;
        }
        #otperror{
            margin-top: 10px;
            margin-bottom: 8px;
            color: #c0392b;
            font-size: 0.9em;
            font-style: italic;
            display: none;
        }
        .successHeader{
            font-size: 2.5em;
            color: #393148;
        }
        .successMessaging button{
            padding: 15px;
            padding-left: 25px;
            padding-right: 25px;
            margin: 10px;
            border-radius: 10px;
            border: 0px;
        }
        #formErrMsg {
            margin-top: 10px;
            display: none;
        }
        #otpErrMsg{
            margin-top: 10px;
            display: none;
        }

/* Payment Page */
    .paymentFooter{
        padding-top: 30px;
        text-align: center;
    }
    .paymentFooter img{
        max-width: 200px;
    }

/* LOADING PROCESS */
#loadingcontainer{
    z-index: 1000;
    width: 100%;
    padding-top: 200px;
    text-align: center;
}
.category{
    display: none;
}


/* HOME PAGE */
#homeCover{
    padding: 2em;
    background-image: url(../img/coverbg.png);
    background-size: cover;
    min-height: 13em;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
}
#homeCover .homelogo{
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
}
.headlabel{
    margin-top: 10px;
    text-align: center;
    color: #191919;
    font-weight: bolder;
}
.headlabel img{
    max-width: 2em;
    margin-bottom: 2px;
}
.storeSelect {
    margin-top: 30px;
    margin-bottom: 30px;
}
    .storeSelect .shopimg{
        width: 100%;
        border-radius: 10px;
    }
    .storeSelect h4{
        padding-top: 5px;
        color: #E53935;
        font-size: 1.3em;
    }
    .storeSelect h4:hover{
        color: #FFA000;
    }
    .storeSelect a{
        text-decoration-line: none;
    }
    .storeSelect .address{
        color: #616161;
    }
    .storeSelect .cutoff{
        font-size: 0.9em;
        padding-top: 10px;
        color: #FFA000;
    }
.geosegment{
    margin-top: 30px;
    margin-bottom: -8px;
    color: #a3a3a3;
    font-size: 1.3em;
    padding-left: 10px;
    border-left: solid #E53935 1.5px ;
}

/* FAQ Section */
#faqsection{
    background-image: url(../img/background-nopattern.png);
    background-size: cover;
    text-align: center;
    padding: 2em;;
}
    #faqsection .headlabel{
        color: #fff;
    }
    #faqsection .faqquestions{
        margin-top: 30px;
        text-align: left;
    }
    #faqsection .card{
        border-radius: 0px;
    }
    #faqsection .firstcard{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    #faqsection .lastcard{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    #faqsection .card h4{
        padding-top: 10px;
        font-size: 1.2em;
        color: #E53935;
    }