/****** CORE STYLE ********/
    body{
        background-color: #ffff;
        font-family: sans-serif;
        font-size: 14px;
        color: #555555;
        border-color: #555555;
    }
div{
    height: auto;
}


/* Dashboard */
.headbar{
    background-image: url(../img/background.jpg);
    background-color: #C62828;
    padding: 20px;
    color: #fff;
}
.dashboardnav {
    padding-top: 10px;
}
.dashboardnav a{
    font-size: 1.2em;
    color: #fff;
    padding: 20px;
}
.dashboardmeter{
    padding-top: 20px;
}
.buttongroupday{
    margin-top: 40px; 
    background-color: #adadad; 
}
.dashboardcount{
    width: 170px;
    color: #fff;
    text-align: center;
    padding: 10px;
    float: right;
    margin: 5px;
    border-radius: 5px;
}
    .dashboardcount .count{
        font-size: 1.8em;
    }
    .dashboardcount .label{
        font-size: 0.9em;
    }
.btn-group{
    margin-left: 20px;
}
.btn-group button{
    background-color: #adadad;
    border: 0px solid;
}

.dashboardtable{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.dashboardtable .add{
    width: 25%;
}
.dashboardtable .orderNobelow{
    color: #3498db;
    cursor: pointer;
}
.dashboardtable .orderDate{
    font-size: 0.8em;
}
.mainTable{
    text-align: center;
    background-color: #f4f4f4
}
.mainTable th{
 color: #5d5d5d;
}
.mainTable td,th{
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.mainTable tr{
    border-bottom: 1px solid #b8b8b8;
}
/*** REPORTS ****/
.dashboardreport h3{
 font-size: 1.5em;
  padding-bottom: 10px;
}
.dashboardreport{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 1.2em;
}
.dashboardreport label{
    width: 30%;
    text-align: right;
}
.dashboardreport input{
    width: 65%;
    border-radius: 4px;
    border: 1px solid #95a5a6;
    padding: 4px;
    margin: 2px;
}
.dashboardreport textarea{
    width: 65%;
    border-radius: 4px;
    border: 1px solid #95a5a6;
    padding: 4px;
    margin: 2px;
    height: 2em;
}
.dashboardreport select{
    width: 65%;
    border-radius: 4px;
    border: 1px solid #95a5a6;
    padding: 4px;
    margin: 2px;
}
.reportbutton{
    margin-top: 40px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border: #ff6f00;
}

/***** INPUT FORM ******/

.inputwidth{
    width: 80%;
    max-width: 500px;
    margin-bottom: 10px;
}
.btn{
    background-color: #FFA000;
    border: #ff6f00;    
}
.btn:hover{
    background-color: #d68600;
    border: #ff6f00;    
}


/**** LOGIN FORM ****/
#loginlogo{
    width: 80%;
    max-width: 300px;
    margin-bottom: 30px;
}
.form-signin{
    padding-top: 50px;
    max-width: 300px;
    padding-bottom: 100px;
}
#signinbutton{
    background-color: #FFA000;
    border: 0px;
}


/**** Inventory Box *****/
.categorycontainer{
    width: 100%;
    font-size: 13px;
}
.categorycontainer img{
    height: 2em;
}
.categorycontainer .label{
    font-size: 18px;
    width: 60%;
}
.categorycontainer table{
    text-align: center;
    border-radius: 6px;
    margin-top: 10px;
}
.inventorycontainer{
    margin-top: 20px;
}
.table{
    margin-top: -10px;
    background-color: whitesmoke;
    margin-bottom: 5em;
    border-bottom: 2px #FFA000 solid;
}
.label{
    background: #e5e5e5;
    padding: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    color: #000;
}
.labelcounter{
    color: #fff;
}
.actionIcon{
    text-align: left;
    float: left;
    font-size: 1.3em;
    margin-left: 4px;
    cursor: pointer;
}