<table id="mainTable">
        <tr>
        <td class="mainTD">
            
            
    <!--- Main TAGS //------->
        <div class="row" style="border: 2px solid; ">
                <div class="col-7">
                <div class="digiLogo">DIGIPALENGKE</div>
                </div>
                <div class="col-5" style="text-align: right; background-color: #dcdcdc;">
                    <div style="font-size: 30px;">#2340001</div>
                    <div style="font-size: 25px; font-weight: bolder; margin-top: -10px;">COD | CASH</div>
                </div>
            </div>
        <div class="row" style="padding: 5px; height: 720px;">
                <div class="col-8"><br/>
                    
                    <div style="font-size: 18px; font-weight: 600; text-transform: uppercase;">
                    Mark Anthony Colentava<br/>
                    273 Munting Batangas, Balanga City (Near Water Tank)<br/>
                    09479917835
                    
                    
                    </div>
                    
                    
                    <div style="width: 100%; padding: 5px; text-align: center; border: solid 1px; margin-top: 20px; margin-bottom: 10px; font-weight: bold;">Summary of Items</div>
                    
                    <table width="100%" cellspacing="0" padding="0" style="text-align: left; margin: 7px;">
                    <tr>
                        <th width="50%">Product</th>
                        <th>Unit</th>
                        <th>Qty</th>
                        <th>Price</th>
                    </tr>
                        
                        
                        
                    <tr>
                        <td>Balog sa Puti</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>Balog sa Puti</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>Balog sa Puti</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>Balog sa Puti</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>Balog sa Puti</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>Balog sa Puti</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>Balog sa Puti</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>Balog sa Puti</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>Balog sa Puti</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>Balog sa Puti</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>Balog sa Puti</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>Balog sa Puti</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr style="text-align: center;">
                        <td colspan="4">*** NO SPACE TO DISPLAY ALL ORDER ****</td>
                    </tr>
                    
                    
                    </table>
                </div>
                <div class="col-4" style="text-align: center;"><br/>
<!--                   <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&color=555555&data=2320001" width="90%;">-->
                    <img src="img/qrcodesample.png" width="90%;">
                    
                    <div style="margin-top: 10px; font-size: 27px; font-weight: bold;">&#8369;2000.00</div>
                    <br/><br/>
                    <img src="img/noofbagbox.gif" width="80%;">
                    
                    <div style="margin-top: 10px; font-size: 20px;">
                    Delivery Date:
                    <strong>01/02/2020</strong>
                    </div>
                    
                </div>
            </div>
            
    <!-- ADDITIONAL TAGS // ------->
        <div style="border-bottom: dashed 2px; height: 340px; margin-top: 10px" class="additionaltags">
            
             <div class="row" style="border: 2px solid; ">
                <div class="col-7">
                <div style="font-size: 25px; font-weight: bolder; margin-top: 5px;">COD | CASH</div>
                </div>
                <div class="col-5" style="text-align: right; background-color: #dcdcdc;">
                    <div style="font-size: 30px;">#2340001</div>
                </div>
            </div>
            <div class="row" style="padding: 5px;">
                <div class="col-8"><br/>
                    
                    <div style="font-size: 18px; font-weight: 600; text-transform: uppercase;">
                    Mark Anthony Colentava<br/>
                    273 Munting Batangas, Balanga City (Near Water Tank)<br/>
                    09479917835
                    </div>
                    
                    
                </div>
                <div class="col-4" style="text-align: center;"><br/>
                    
                    <img src="img/noofbagbox.gif" height="130px">
                    
          
                    
                </div>
            </div>
            <div class="row" style="text-align: center; padding: 8px; font-size: 18px; font-weight: bold;">
                <div class="col-3">
                <img src="img/qrcodesample.png" height="80px">
                </div>
                <div class="col-5" style="padding-top: 20px; text-align: left;">
                    <img src="img/digipalengkecod.gif" width="70%;"><br/>
                    www.digipalengke.com
                </div>
                <div class="col-4" style="padding-top: 10px;">
                Delivery<br/>
                01/02/2020
                </div>
            </div>
            
        </div>
    <!-- ADDITIONAL TAGS // ------->
        <div style="border-bottom: dashed 2px; height: 340px; margin-top: 10px" class="additionaltags">
            
             <div class="row" style="border: 2px solid; ">
                <div class="col-7">
                <div style="font-size: 25px; font-weight: bolder; margin-top: 5px;">COD | CASH</div>
                </div>
                <div class="col-5" style="text-align: right; background-color: #dcdcdc;">
                    <div style="font-size: 30px;">#2340001</div>
                </div>
            </div>
            <div class="row" style="padding: 5px;">
                <div class="col-8"><br/>
                    
                    <div style="font-size: 18px; font-weight: 600; text-transform: uppercase;">
                    Mark Anthony Colentava<br/>
                    273 Munting Batangas, Balanga City (Near Water Tank)<br/>
                    09479917835
                    </div>
                    
                    
                </div>
                <div class="col-4" style="text-align: center;"><br/>
                    
                    <img src="img/noofbagbox.gif" height="130px">
                    
          
                    
                </div>
            </div>
            <div class="row" style="text-align: center; padding: 8px; font-size: 18px; font-weight: bold;">
                <div class="col-3">
                <img src="img/qrcodesample.png" height="80px">
                </div>
                <div class="col-5" style="padding-top: 20px; text-align: left;">
                    <img src="img/digipalengkecod.gif" width="70%;"><br/>
                    www.digipalengke.com
                </div>
                <div class="col-4" style="padding-top: 10px;">
                Delivery<br/>
                01/02/2020
                </div>
            </div>
            
        </div>
    <!-- ADDITIONAL TAGS // ------->
        <div style="border-bottom: dashed 2px; height: 340px; margin-top: 10px" class="additionaltags">
            
             <div class="row" style="border: 2px solid; ">
                <div class="col-7">
                <div style="font-size: 25px; font-weight: bolder; margin-top: 5px;">COD | CASH</div>
                </div>
                <div class="col-5" style="text-align: right; background-color: #dcdcdc;">
                    <div style="font-size: 30px;">#2340001</div>
                </div>
            </div>
            <div class="row" style="padding: 5px;">
                <div class="col-8"><br/>
                    
                    <div style="font-size: 18px; font-weight: 600; text-transform: uppercase;">
                    Mark Anthony Colentava<br/>
                    273 Munting Batangas, Balanga City (Near Water Tank)<br/>
                    09479917835
                    </div>
                    
                    
                </div>
                <div class="col-4" style="text-align: center;"><br/>
                    
                    <img src="img/noofbagbox.gif" height="130px">
                    
          
                    
                </div>
            </div>
            <div class="row" style="text-align: center; padding: 8px; font-size: 18px; font-weight: bold;">
                <div class="col-3">
                <img src="img/qrcodesample.png" height="80px">
                </div>
                <div class="col-5" style="padding-top: 20px; text-align: left;">
                    <img src="img/digipalengkecod.gif" width="70%;"><br/>
                    www.digipalengke.com
                </div>
                <div class="col-4" style="padding-top: 10px;">
                Delivery<br/>
                01/02/2020
                </div>
            </div>
            
        </div>
    <!-- ADDITIONAL TAGS // ------->

                
        </td>
            
            
            
            
            
<!---- RIGHT SIDE --------->
            
        <td class="mainTD">
            
            
<div class="pickupList" style="margin-bottom: 20px;">
            
            
        <div class="row" style="border: 2px solid; ">
                <div class="col-7">
                <div class="digiLogo">ORDER LIST</div>
                </div>
                <div class="col-5" style="text-align: right; background-color: #dcdcdc;">
                    <div style="font-size: 30px;">#2340001</div>
                    <div style="font-size: 25px; font-weight: bolder; margin-top: -10px;">COD | CASH</div>
                </div>
            </div>
        <div class="row" style="padding: 5px;">
                <div class="col-8"><br/>
                    
                    <div style="font-size: 15px; font-weight: 600; text-transform: uppercase;">
                    Mark Anthony Colentava<br/>
                    273 Munting Batangas, Balanga City (Near Water Tank)<br/>
                    09479917835
                    </div>
                    
                    <div style="font-size: 16px; font-weight: 600; margin-top: 10px; border: 1px dashed; padding: 5px;">
                    NAME OF PICKER:
                    </div>
                    
                    <div style="width: 100%; padding: 5px; text-align: center; border: solid 1px; margin-top: 20px; margin-bottom: 10px; font-weight: bold;">Shopping List</div>
                    
                    <table width="100%" cellspacing="0" style="text-align: left; margin: 7px; font-size: 19px;">
                    <tr>
                        <th></th>
                        <th width="50%">Product</th>
                        <th>Unit</th>
                        <th>Qty</th>
                        <th>Price</th>
                    </tr>
                        
                        
                        
                    <tr>
                        <td>[__]</td>    
                        <td>Formula Milk (Deries)</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>[__]</td>    
                        <td>Formula Milk (Deries)</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>[__]</td>    
                        <td>Formula Milk (Deries)</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>[__]</td>    
                        <td>Formula Milk (Deries)</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>[__]</td>    
                        <td>Formula Milk (Deries)</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>[__]</td>    
                        <td>Formula Milk (Deries)</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>[__]</td>    
                        <td>Formula Milk (Deries)</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>[__]</td>    
                        <td>Formula Milk (Deries)</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>[__]</td>    
                        <td>Formula Milk (Deries)</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>[__]</td>    
                        <td>Formula Milk (Deries)</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>[__]</td>    
                        <td>Formula Milk (Deries)</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
                    <tr>
                        <td>[__]</td>    
                        <td>Formula Milk (Deries)</td>    
                        <td>250.00</td>    
                        <td>5</td>    
                        <td>500.00</td>    
                    </tr>
              
                    
                        
                        
             
                    <tr style="text-align: center;">
                        <td colspan="4">***** NOTHING FOLLOWS ****</td>
                    </tr>
                    
                    
                    </table>
                </div>
                <div class="col-4" style="text-align: center;"><br/>
<!--                   <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&color=555555&data=2320001" width="90%;">-->
                    <img src="img/qrcodesample.png" width="90%;">
                    
                    <div style="margin-top: 10px; font-size: 27px; font-weight: bold;">&#8369;2000.00</div>
                    <br/><br/>
                    <img src="img/noofbagbox.gif" width="80%;">
                    
                    <div style="margin-top: 10px; font-size: 20px;">
                    Delivery Date:
                    <strong>01/02/2020</strong>
                    </div>
                    
                </div>
            </div>
            
            
</div>  
            
<div class="ordertracking">
            
            
        <div class="row" style="border: 2px solid; ">
                <div class="col-7">
                <div class="digiLogo">ACCOUNTING</div>
                </div>
                <div class="col-5" style="text-align: right; background-color: #dcdcdc;">
                    <div style="font-size: 30px;">#2340001</div>
                    <div style="font-size: 25px; font-weight: bolder; margin-top: -10px;">COD | CASH</div>
                </div>
            </div>
        <div class="row" style="padding: 5px; height: 720px;">
                <div class="col-8"><br/>
                    
                    <div style="font-size: 15px; font-weight: 600; text-transform: uppercase;">
                    Mark Anthony Colentava<br/>
                    273 Munting Batangas, Balanga City (Near Water Tank)<br/>
                    09479917835
                    </div>
                    
                    <div style="font-size: 16px; font-weight: 600; margin-top: 10px; border: 1px dashed; padding: 5px;">
                    PICKER:
                    </div>
                    <div style="font-size: 16px; font-weight: 600; margin-top: 10px; border: 1px dashed; padding: 5px;">
                    DISPATCHER:
                    </div>
                    
                    <div style="width: 100%; padding: 5px; text-align: center; border: solid 1px; margin-top: 20px; margin-bottom: 10px; font-weight: bold;">SUMMARY OF TRANSACTION</div>
                    
                    <table width="100%" cellspacing="0" style="text-align: left; margin: 7px; font-size: 17px;">
                    <tr>
                        <th width="50%">Item</th>
                        <th></th>
                        <th>Total</th>
                    </tr> 
                    <tr>
                        <td>Transaction Price</td>    
                        <td>-</td>      
                        <td>2000.00</td>    
                    </tr>
                    <tr>
                        <td>Total Number of Items</td>    
                        <td>-</td>      
                        <td>250.00</td>    
                    </tr>
                    <tr>
                        <td>Delivery Fee</td>    
                        <td>-</td>      
                        <td>0.00</td>    
                    </tr>
                    <tr>
                        <td>Payment Fee</td>    
                        <td>-</td>      
                        <td>0.00</td>    
                    </tr>
                    <tr>
                        <td>Other Charges</td>    
                        <td>-</td>      
                        <td>0.00</td>    
                    </tr>
                    <tr>
                        <td>Picker Fee</td>    
                        <td>-</td>      
                        <td></td>    
                    </tr>
             
                    <tr >
                        <td colspan="4" style="font-weight: 600;">TOTAL PRICE: &#8369;2000.00</td>
                    </tr>
                    
                    
                    </table>
                </div>
                <div class="col-4" style="text-align: center;"><br/>
<!--                   <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&color=555555&data=2320001" width="90%;">-->
                    <img src="img/qrcodesample.png" width="90%;">
                    
                    <div style="margin-top: 10px; font-size: 27px; font-weight: bold;">&#8369;2000.00</div>
                    <br/><br/>
                    <img src="img/noofbagbox.gif" width="80%;">
                    
                    <div style="margin-top: 10px; font-size: 20px;">
                    Delivery Date:
                    <strong>01/02/2020</strong>
                    </div>
                    
                </div>
            </div>
            
            
</div>  
            
            
            </td>
        </tr>
    </table>